@using WebDoAn.Models;
@using WebDoAn.Utilities;
@model IList<Blog>

<div class="sidebar-item recent-posts">
    @foreach(var rp in Model)
    {
        string url = Function.TitleSlugGeneration("blog", rp.Title, rp.BlogID);
        <div class="post-item clearfix">
        <img src="~/img/blog/@rp.Image" alt="">
        <h4><a href="~/@url">@rp.Title</a></h4>
        <time>@rp.CreatedDate</time>
        </div>
    }
</div><!-- End sidebar recent posts-->