@model WebDoAn.Models.Blog

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Thêm mới Blog</h5>
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="Title" class="contro-label form-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Alias" class="contro-label form-label"></label>
                                <input asp-for="Alias" class="form-control" />
                                <span asp-validation-for="Alias" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Description" class="contro-label form-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Detail" class="contro-label form-label"></label>
                                <input asp-for="Detail" class="form-control" />
                                <span asp-validation-for="Detail" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Image" class="contro-label form-label"></label>
                                <input asp-for="Image" class="form-control" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="CreatedDate" class="contro-label form-label"></label>
                                <input asp-for="CreatedDate" class="form-control" />
                                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="CreatedBy" class="contro-label form-label"></label>
                                <input asp-for="CreatedBy" class="form-control" />
                                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-3">
                                <label asp-for="Tags" class="contro-label form-label"></label>
                                <input asp-for="Tags" class="form-control" />
                                <span asp-validation-for="Tags" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="CategoryId" class="control-label form-label">Category</label>
                                <select asp-for="CategoryId" class="form-control" asp-items="@((SelectList)ViewData["CategoryId"])">
                                    <option value="0" selected>--[Chọn danh mục]--</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3 form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsActive" />Hiển thị
                                </label>
                            </div>
                            <div class="form-group mb-3">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div>
                        <a asp-action="Index" type="button" class="btn btn-outline-primary m-1">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
