@model IList<Menu>

@foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(n => n.MenuOrder))
{
    var mId = menu.MenuID;
    var sMenu = Model.Where(p => p.ParentID == mId).OrderBy(p => p.MenuOrder).ToList();
    @if (sMenu.Count == 0)
    {  
        <li>
            <a href="/@menu.ControllerName" class="active">@menu.MenuName</a>
        </li>
        
    }

}